### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [111]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [90]:
player_demographics = purchase_data.loc[:,["Gender", "SN"]]
player_demographics = player_demographics.drop_duplicates()
total_players = player_demographics.count()[1]

## Player Count

* Display the total number of players

In [91]:
players_count = purchase_data["SN"].unique()
pd.DataFrame({"Total Players":[total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [92]:
unique_items = purchase_data["Item Name"].unique()
len(unique_items)

179

In [93]:
total_rev= purchase_data["Price"].sum()
total_rev

2379.77

In [94]:
number_purchase=purchase_data["Purchase ID"].count()
number_purchase

780

In [95]:
average_price=round((total_rev/number_purchase),2)
average_price

3.05

In [96]:
purchase_analysis=pd.DataFrame({"Number of Unique Items": len(unique_items), "Average Price": average_price, \
                                "Number of Purchases": number_purchase, "Total Revenue": total_rev},index=[0])
purchase_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [97]:
gender_totals=player_demographics["Gender"].value_counts()
gender_pct= gender_totals / total_players * 100
gender_demographics= pd.DataFrame({"Total Count":gender_totals, "Percentage of Players": gender_pct})
gender_demographics

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [98]:
purchase_analysis= purchase_data.groupby(["Gender"])
purchase_avg = purchase_analysis["Purchase ID"].count()
price_avg = purchase_analysis["Price"].mean()
total_purchase = purchase_analysis["Price"].sum()
#average total purchase per person per gender
avg_total_gender= total_purchase/gender_totals

purchase_analysis_table = pd.DataFrame({"Purchase Count": purchase_avg, "Average Purchase Price": price_avg, "Total Purchase Value": total_purchase, "Average Purchase per Person": avg_total_gender})
purchase_analysis_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [99]:
bins= [0,9,14,19,24,29,34,39,max(purchase_data['Age'])]
group_names = ["<10", "10-14", "14-19", "20-24", "25-29", "30-35",
              "36-40", "40+"]

purchase_data["Age_Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
age_demographics = purchase_data.groupby("Age_Group")

total_count = age_demographics["SN"].nunique()
age_pct = total_count/total_players *100

age_demographics_table = pd.DataFrame({"Total Count": total_count, "Percentage of Players": age_pct})
age_demographics_table

           Total Count  Percentage of Players
Age_Group
<10                 17               2.951389
10-14               22               3.819444
14-19              107              18.576389
20-24              258              44.791667
25-29               77              13.368056
30-35               52               9.027778
36-40               31               5.381944
40+                 12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [110]:
#age_demographics 
purchase_count= age_demographics["Purchase ID"].nunique() 
total_purchases= age_demographics["Price"].sum()
avg_pur_price= total_purchases/purchase_count
avg_pur= total_purchases/total_count

purchase_age_table = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_pur_price, "Total Purchase Value": total_purchases, "Avg Total Purchase per Person": avg_pur})
purchase_age_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age_Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
14-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-35,73,2.931507,214.00,4.115385
36-40,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [101]:
spender_df= purchase_data.groupby("SN")
total_purchase_value = spender_df["Price"].sum()
spender_pur_count = spender_df["SN"].count()
avg_spend_pur = total_purchase_value/spender_pur_count

top_spender_table= pd.DataFrame({"Purchase Count": spender_pur_count, "Average Purchase Price": avg_spend_pur, "Total Purchase Value": total_purchase_value})
top_spender_table

sort_data=top_spender_table.sort_values("Total Purchase Value", ascending=False)
sort_data.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [102]:
popular_df =purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

total_item = popular_df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Price")

average_item = popular_df.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Item Price")

item_count = popular_df.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")


# Create a DataFrame


popular_table= pd.DataFrame({"Purchase Count": item_count,"Item Price": average_item, "Total Purchase Value": total_item,})

popular_sort_data= popular_table.sort_values("Purchase Count", ascending=False)
popular_sort_data.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [103]:
profit_sort_data= popular_table.sort_values("Total Purchase Value", ascending=False)
popular_sort_data.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77